{% extends "public_site/base.html" %}
{% load static %}

{% block title %}Streamer - About{% endblock %}
{% block content %}
<!--===== HERO SECTION =====-->
<section class="section about-hero mb-4">
  <div class="container hero-container">
    <div class="bg-img hero-image">
      <img src="{% static 'public_site/img/Hero-2.png' %}" alt="hero-image">
    </div>

    <div class="svg-box box-tl">
      <svg class="c rt" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <svg class="c rb" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <div class="svg-text">
        <div style="position: relative;">
          <p class="subtitle">{% if lang == 'ar' %}من نحن{% else %}ABOUT{% endif %}</p>
          <h2 class="title">{% if lang == 'ar' %}تعرّف علينا أكثر{% else %}Get to know us well{% endif %}</h2>
        </div>
      </div>
    </div>

    <div class="svg-box">
      <svg class="c tr" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <svg class="c br" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <div class="svg-text stats">
        <div class="stat">
          <span>15+</span>
          <p>{% if lang == 'ar' %}سنوات من العمل{% else %}Years in Business{% endif %}</p>
        </div>
        <div class="stat">
          <span>500+</span>
          <p>{% if lang == 'ar' %}عميل سعيد{% else %}Happy Clients{% endif %}</p>
        </div>
        <div class="stat">
          <span>10+</span>
          <p>{% if lang == 'ar' %}جوائز تصوير{% else %}Photography Awards{% endif %}</p>
        </div>
        <div class="stat">
          <span>05+</span>
          <p>{% if lang == 'ar' %}جلسات دولية{% else %}International Shoots{% endif %}</p>
        </div>
        <div class="stat">
          <span>10,000+</span>
          <p>{% if lang == 'ar' %}متابعين على المنصات{% else %}Social Media Followers{% endif %}</p>
        </div>
        <div class="stat">
          <span>90%</span>
          <p>{% if lang == 'ar' %}معدل رضا العملاء{% else %}Client Retention Rate{% endif %}</p>
        </div>
      </div>
    </div>

    <div class="svg-box" style=" display: block; position: relative; color: white; width: 50%; margin-bottom: 32%;">
      <svg class="c" style="right: 0; width:82px; height: 100%;" viewBox="0 2 2 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 3C1 3 1 2 2 2L0 2Z" />
      </svg>
      <svg class="c bl" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <div class="svg-text" style="max-width: calc(100% - 82px);"></div>
    </div>

    <div class="svg-box box-bl svg-text b-tr">
      <svg class="c tl" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <svg class="c rb" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <div class="circle"><span class="star">✦</span></div>
    </div>

    <div class="svg-box box-br">
      <svg class="c tr" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <svg class="c lb" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3C1 3 0 3 0 2L0 3Z" />
      </svg>
      <p class="svg-text svg-scroll-box b-tl">
        {% if lang == 'ar' %}
          مرر لأسفل لتكتشف رحلتنا
        {% else %}
          SCROLL DOWN TO SEE<br>MY JOURNEY
        {% endif %}
      </p>
    </div>
  </div>
</section>

<!--===== FAQ SECTION =====-->
{% include 'public_site/components/faq_section.html' %}

<!--===== TESTIMONIALS SECTION =====-->
{% include 'public_site/components/testimonials_section.html' %}

<!--===== CLIENTS SECTION =====-->
{% if client_logos %}
<section class="section clients">
  <div>
    <h2 class="title">
      {% if lang == 'ar' %}
        لقد خدمنا أكثر من <strong>150,000</strong><br> عميل... ومن بين عملائنا:
      {% else %}
        We have served more than <strong>150,000</strong><br> clients... and some of our clients are:
      {% endif %}
    </h2>
    <h4 class="subtitle-2">
      {% if lang == 'ar' %}
        تشرفنا بخدمة عدد كبير من العملاء في جميع مجالات خدماتنا منذ عام 2006 ولمدة تزيد عن 14 سنة وما زلنا مستمرين.
      {% else %}
        We have been honored to serve a large number of clients in all areas of our services since 2006
        and for more than 14 years and we are still continuing
      {% endif %}
    </h4>
  </div>

  <!-- Swiper Container -->
  {% include 'public_site/components/client_swiper.html' %}
</section>
{% endif %}

{% endblock %} 

{% block scripts %}
<script src="{% static 'public_site/js/client_swiper.js' %}"></script>
{% endblock scripts %}