{% extends "public_site/base.html" %}
{% load static custom_filters %}

{% block title %}Streamer - Projects{% endblock %}
{% block content %}

<!--===== HERO SECTION =====-->
<section class="section mb-4">
  <div class="container hero-container">
    <div class="bg-img hero-image">
      <img src="{{ site_images.hero_bg_3|default:'' }}" alt="Hero Background">
    </div>

    <div class="svg-box box-tl">
      <svg class="c rt" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3C1 3 0 3 0 2L0 3Z"/></svg>
      <svg class="c bl" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3C1 3 0 3 0 2L0 3Z"/></svg>

      <div class="svg-text b-br">
        <div style="position: relative;">
          <p class="subtitle">{{ site_content.projects|get_text:'projects_subtitle' }}</p>
          <h1 class="title">{{ site_content.projects|get_text:'projects_title' }}</h1>
        </div>
        <p>{{ site_content.projects|get_text:'projects_hero_description' }}</p>
      </div>
    </div>

    <div class="svg-box box-bl svg-text b-tr">
      <svg class="c tl" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3C1 3 0 3 0 2L0 3Z"/></svg>
      <svg class="c rb" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3C1 3 0 3 0 2L0 3Z"/></svg>
      <div class="circle"><span class="star">✦</span></div>
    </div>

    <div class="svg-box box-br">
      <svg class="c tr" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3C1 3 0 3 0 2L0 3Z"/></svg>
      <svg class="c lb" viewBox="0 2 1 1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3C1 3 0 3 0 2L0 3Z"/></svg>
      <p class="svg-text svg-scroll-box b-tl">
        {{ site_content.projects|get_text:'projects_scroll_hint' }}
      </p>
    </div>
  </div>
</section>

<!--===== CLIENTS SECTION =====-->
{% if client_logos %}
<section class="section clients">
  <div><h4 class="subtitle-2">{{ site_content.clients|get_text:'clients_projects_subtitle'|safe }}</h4></div>
  <!-- Swiper Container -->
  {% include 'public_site/components/client_swiper.html' %}
</section>
{% endif %}

{% for category, projects in projects_by_category.items %}
{% if projects %}
<section class="section projects">
  <div class="title-container">
    <div class="projects-title">
      <h2>
        {% if lang == 'ar' %}
          {{ category.name_ar }}
        {% else %}
          {{ category.name_en }}
        {% endif %}
      </h2>
    </div>
    <div class="title-btns">
      <div class="swiper-buttons project-buttons">
        <button class="swiper-button-prev project-button-prev"></button>
        <button class="swiper-button-next project-button-next"></button>
      </div>
    </div>
  </div>

  <div class="project-swiper container">
    <div class="swiper projectSwiper">
      <div class="swiper-wrapper">
        {% for project in projects %}
        <div class="swiper-slide project-card">
          <div class="project-img">
            <img src="{{ project.image.url }}" alt="Project" />
          </div>
          <div class="project-info">
            <h5 class="project-name">
              {% if lang == 'ar' %}
                {{ project.title_ar }}
              {% else %}
                {{ project.title_en }}
              {% endif %}
            </h5>
            <p class="project-date">{{ project.date|date:"F Y" }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}


<!--===== FAQ SECTION =====-->
{% include 'public_site/components/faq_section.html' %}

<!--===== TESTIMONIALS SECTION =====-->
{% include 'public_site/components/testimonials_section.html' %}

{% endblock %}

{% block scripts %}
<script src="{% static 'public_site/js/projects_swipers.js' %}"></script>
<script src="{% static 'public_site/js/faq_section.js' %}"></script>
<script src="{% static 'public_site/js/testimonial_swiper.js' %}"></script>
<script src="{% static 'public_site/js/client_swiper.js' %}"></script>
{% endblock scripts %}