{% extends "public_site/base.html" %}
{% load static custom_filters %}

{% block title %}Streamer - Testimonials{% endblock %}
{% block content %}

{% if testimonials %}
<section class="section testimonials" style="margin-top: 8rem;">
  <div class="title-container">
    <div>
      <h4 class="subtitle">{{ site_content.testimonials|get_text:'testimonials_subtitle'|safe }}</h4>
      <h2 class="title">{{ site_content.testimonials|get_text:'testimonials_title'|safe }}</h2>
    </div>
  </div>

  <div class="title-container">
    <div class="stats">
      <h4 class="subtitle">{% if lang == 'ar' %}إجمالي التقييمات{% else %}Total Reviews{% endif %}</h4>
      <h3 class="title">{{ total_reviews }}</h3>
    </div>
  </div>

  <div class="flex-container container">
      {% for t in testimonials %}
      <div class="testimonial-card" style="width: 100%; min-width: 220px; max-width: 400px;">
        <div class="testimonial-header">
          <div>
            <h5>{{ t.name }}</h5>
            <small>{{ t.address }}</small>
          </div>
          <div class="social-icons">
            {% if t.facebook_url %}<a href="{{ t.facebook_url }}"><i class='bx bxl-facebook'></i></a>{% endif %}
            {% if t.twitter_url %}<a href="{{ t.twitter_url }}"><i class='bx bxl-twitter'></i></a>{% endif %}
            {% if t.linkedin_url %}<a href="{{ t.linkedin_url }}"><i class='bx bxl-linkedin'></i></a>{% endif %}
          </div>
        </div>
        <div class="stars">
          {% for i in "12345"|make_list %}
            <i class='bx bxs-star{% if forloop.counter > t.rating %}-half{% endif %}'></i>
          {% endfor %}
        </div>
        <p>
          {% if lang == 'ar' %}
            {{ t.content_ar }}
          {% else %}
            {{ t.content_en }}
          {% endif %}
        </p>
      </div>
      {% endfor %}
  </div>
</section>
{% endif %}

{% endblock %} 

{% block scripts %}
{% endblock scripts %}