{% load custom_filters %}
{% if faqs %}
<section class="section faq">
  <div class="title-container">
    <div>
      <h4 class="subtitle">{{ site_content.faq|get_text:'faq_subtitle'|safe }}</h4>
      <h2 class="title">{{ site_content.faq|get_text:'faq_title'|safe }}</h2>
    </div>
  </div>

  <div class="container faq-grid">
  {% for faq in faqs %}
    <div class="faq-item">
      <div class="faq-hr"></div>
      <div class="faq-header">
        <span class="faq-question">
          {% if lang == 'ar' %}
            {{ faq.question_ar }}
          {% else %}
            {{ faq.question_en }}
          {% endif %}
        </span>
        <i class='faq-icon bx bx-chevron-down'></i>
      </div>
      <div class="faq-body hide">
        {% if lang == 'ar' %}
          {{ faq.answer_ar }}
        {% else %}
          {{ faq.answer_en }}
        {% endif %}
      </div>
    </div>
  {% empty %}
    <p style="text-align: center;">
      {% if lang == 'ar' %} لا توجد أسئلة حالياً {% else %} No FAQs available right now. {% endif %}
    </p>
  {% endfor %}
  </div>
</section>
{% endif %}